name: AppMetadataAutoUpdate

on:
  push:
    paths:
      - 'Apps/FitnessFuel/metadata.json'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure Microsoft Store CLI
        uses: microsoft/microsoft-store-apppublisher@v1.1

      - name: Reconfigure store credentials
        run: msstore reconfigure `
              --tenantId ${{ secrets.AZURE_AD_TENANT_ID }} `
              --sellerId ${{ secrets.SELLER_ID }} `
              --clientId ${{ secrets.AZURE_AD_APPLICATION_CLIENT_ID }} `
              --clientSecret ${{ secrets.AZURE_AD_APPLICATION_SECRET }}

      - name: Publish App package
        run: msstore submission updateMetadata '${{ github.workspace }}/Apps/FitnessFuel/metadata.json' -id "9NP0T3QQXL70"
      - name: Publish Submission
        run: msstore submission publish '9NP0T3QQXL70' 
              
