name: EnvInfo
on:   
      workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: FetchEnv
      shell: pwsh
      run: |
           if ($env:GITHUB_ACTIONS -eq "true") {
                    Write-Host "Running inside GitHub Actions"
            } else {
                    Write-Host "Not running in GitHub Actions"
            }
            
            Write-Host "GITHUB_WORKFLOW: " + $env:GITHUB_WORKFLOW
            Write-Host "GITHUB_RUN_ID: " + $env:GITHUB_RUN_ID
            Write-Host "GITHUB_REPOSITORY: " + $env:GITHUB_REPOSITORY
            Write-Host "GITHUB_ACTOR: " + $env:GITHUB_ACTOR
            Write-Host "GITHUB_REF: " + $env:GITHUB_REF

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Run PowerShell command and write output
      shell: pwsh
      run: |
          $filePath = "metadata\metadata.json"

          # Example command (replace with your own)
          $result = "test data"

          # Overwrite file with command output
          $result | Out-File -FilePath $filePath -Encoding utf8

          Write-Host "Wrote command output to $filePath"
         
            
