name: EnvInfo

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Fetch Environment Info
        shell: pwsh
        run: |
           if ($env:GITHUB_ACTIONS -eq "true") {
            Write-Host "Running inside GitHub Actions"
            }
            elseif ($env:CI -eq "true") {
            Write-Host "Running inside another CI (e.g. Jenkins, Azure DevOps)"
            }
            else {
            Write-Host "Running locally"
            }

           Write-Host "GITHUB_WORKFLOW: $($env:GITHUB_WORKFLOW)"
           Write-Host "GITHUB_RUN_ID: $($env:GITHUB_RUN_ID)"
           Write-Host "GITHUB_REPOSITORY: $($env:GITHUB_REPOSITORY)"
           Write-Host "GITHUB_ACTOR: $($env:GITHUB_ACTOR)"
           Write-Host "GITHUB_REF: $($env:GITHUB_REF)"
